/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(254, 238, 241);
  font-family: "Roboto", sans-serif;
  z-index: 0;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  font-size: 10px;
}

.button__box {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

main {
  width: 50%;
  height: 70vh;
  background-color: rgb(30, 30, 30);
  margin: auto;
  border-radius: 20px;
  margin-top: 50px;
  border: 10px solid rgb(255, 128, 78);
  border-style: groove;
  color: white;
  font-family: "Playwrite DK Loopet", cursive;
}

li:hover {
  cursor: pointer;
}

ul {
  width: 80%;
  max-width: 100%;
  margin: 20px auto;
  padding: 0 20px;
  line-height: 1.7;
  list-style: none;
}

li {
  word-wrap: break-word; /* va a capo con parole troppo lunghe */
  overflow-wrap: break-word;
  width: 100%;
  margin-block: 5px;
  list-style: disc;
}

form {
  z-index: 1;
  background-color: rgb(160, 114, 93);
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20%;
  position: fixed;
  top: 350px;
  right: 500px;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 890px) {
  form {
    left: 0;
    margin-left: 20px;
    width: 30vh;
  }
}
@media (max-width: 400px) {
  form {
    left: 0;
    margin-left: 20px;
    width: 30vh;
  }
}

input {
  margin-block: 10px;
}

#calendar {
  font-size: 10px;
  border-radius: 10px;
  text-align: center;
  height: 40px;
}

#calendar:focus {
  outline: none;
  box-shadow: none;
}

#calendar:hover {
  cursor: pointer;
}

#new-task {
  border: 2px solid rgb(255, 255, 255);
  border-style: hidden;
  background-color: rgb(255, 122, 122);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

#new-task:hover {
  border-style: dashed;
  cursor: pointer;
}

#todo {
  width: 100%;
  height: 50px;
  padding: 5px;
}

#todo:focus {
  outline: none;
  box-shadow: none;
}

#submit {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
}

#submit:hover {
  background-color: rgb(55, 55, 55);
  cursor: pointer;
  color: rgb(184, 184, 184);
}

#close {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
}

#close:hover {
  color: red;
  cursor: pointer;
}

.text__barred {
  text-decoration: line-through;
  color: gray;
  list-style: none;
}

.text__barred::before {
  content: "\f00c"; /* Codice Unicode per l'icona "check" di Font Awesome */
  font-family: "Font Awesome 5 Free"; /* Assicurati che Font Awesome sia incluso nella pagina */
  font-weight: 900; /* Necessario per utilizzare la versione solida dell'icona */
  margin-right: 8px; /* Spazio tra l'icona e il testo */
}

/* <i class="fas fa-check"></i> */
